@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat:wght@100;400&family=Raleway&family=Saira&family=Yanone+Kaffeesatz&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Yanone Kaffeesatz;
    /* font-size: 20px; */
    font-size: clamp(0.7rem, 0.489rem + 1.05vw, 1.2rem);
    font-weight: bold;
}

#title{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #8E2157;
    color: green;
    width: 100%;
}

.search-container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

.api-container {
    margin-top: 20px;
    width: 84%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

img{
    object-fit: cover;
    border-radius: 10px;
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipeItem{
    margin: 10px 10px 10px;
    background-color: lightslategrey;
    border-radius: 10px;
    padding: 4%;
    max-width: 90%;
}

.recipeItem .flex-container {

}

.viewButton{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
}