@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat:wght@100;400&family=Raleway&family=Saira&family=Yanone+Kaffeesatz&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    /* font-family: Century Gothic; */
    font-family: Yanone Kaffeesatz;
    /* font-family: Jotia,Verdana,Geneva,sans-serif; */
    /* font-family: var(--jotia); */
    /* font-family: Jotia; */
    /* font-size: 20px; */
    font-size: clamp(0.7rem, 0.489rem + 1.05vw, 1.2rem);
    font-weight: bold;
    color: #5c0931;
}

#title{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    /* background-color: #8E2157; */
    background: linear-gradient(to bottom,#520c30, #7e184e 100%);
    /* background-color: #5C0391; */
    color: whitesmoke;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    height: 80px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.wave-decoration {
    position: absolute;
    top: 0;
    z-index: 5;
    pointer-events: none;
    width: 2000px;
    left: 50%;
    margin: 0 0 0 -1000px;
}
/* .wave-decoration.is-bottom {
 
} */
.search{
    width: 30%;
}
.search-container {
    /* width: auto; */
    min-width: 150px;
    background-color: #ffffff;
    margin: -25px 30px 10px;
    border-radius: 3px;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search-input {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: clamp(0.5rem, 0.489rem + 1.05vw, 1.2rem); 
}

.search-button {
    height: auto;
    width: auto;
    background-color: #FFA903;
    color: #ffffff;
    margin: 5px 5px 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
    transition: box-shadow 0.6s, transform 0.5s; 
}
.search-button:hover{
    background-color: #45a049;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.5s;
}

.api-container {
    margin-top: 0px;
    width: 100%;
    padding: 20px;
    /* background-color: #ffffff; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    object-fit: cover;
    border-radius: 10px;
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgBar{
    object-fit: cover;
    border-radius: 3px;
    width: 17%;
    height: auto;
    min-width: 10%;
    max-width: 35%;
    max-height: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: left;
    /* float: left; */
}
.aBar{
    display: inline-block;
    flex-direction: row;
    justify-content: right;
}
.recipeItem{
    margin: 10px 10px 10px;
    /* background-color: lightslategrey; */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4%;
    max-width: 90%;
}
.recipeItemBar{
    margin: 10px 10px 10px;
    width: 100%;

}
.blockInline{
    display: inline-block;
}
.menu-icon{
    width: 0.9rem;
    height: 0.45rem;
    border-top: 0.1rem solid #520c30;
    border-bottom:0.1rem solid #520c30;
    background-color: #520c30;
    padding: 0.1rem 0;
    margin-top:0.9rem;
    background-clip:content-box;
 }
.viewButton{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
}
footer{
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
}
.footer-wave .st0 .st1{
    width:auto;
    overflow: hidden;
    background: linear-gradient(to bottom,#7e184e,#520c30 100%);
}
.footer-tag{
    width: 100%;
    height: 50px;
    font-weight: lighter;
    font-style: italic;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -2px;
    padding: 10px 0px 10px;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(to bottom,#7e184e,#520c30 100%);
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
}