@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat:wght@100;400&family=Raleway&family=Saira&family=Yanone+Kaffeesatz&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    position: relative;
    font-family: Yanone Kaffeesatz;
    font-size: clamp(0.7rem, 0.489rem + 1.05vw, 1.2rem);
    font-weight: bold;
    color: #5c0931;
}

#title{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom,#520c30, #7e184e 100%);
    color: whitesmoke;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    height: 80px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.wave-decoration {
    position: absolute;
    top: 0;
    z-index: 5;
    pointer-events: none;
    width: 2000px;
    left: 50%;
    margin: 0 0 0 -1000px;
}
.search{
    width: 30%;
}
.search-container {
    min-width: 150px;
    background-color: #ffffff;
    margin: -25px 30px 10px;
    border-radius: 6px;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search-input {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: clamp(0.5rem, 0.489rem + 1.05vw, 1.2rem); 
}

.search-button {
    height: auto;
    width: auto;
    background: linear-gradient(133.69deg,#dfb757, #b4801e);
    color: #ffffff;
    margin: 3.5px 3.5px 3.5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s, transform 0.2s; 
}
.search-button:hover{
    background-color: #45a049;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.3);
    transition: box-shadow 0.2s;
}

.api-container {
    margin-top: 0px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    object-fit: cover;
    border-radius: 10px;
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgBar{
    object-fit: cover;
    border-radius: 8px;
    margin: .75rem;
    width: 15%;
    height: auto;
    min-width: 10%;
    max-width: 35%;
    max-height: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: left;
}
.h2Bar{
    width:20%;
}
.pBar{
    width:20%;
}
.aBar{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.recipeItem{
    margin: 10px 10px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4%;
    max-width: 90%;
}
.recipeItemBar{
    margin: 10px 10px 10px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid grey;
}
.blockInline{
    display: inline-block;
}
.menu-icon{
    background-color: #520c30;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(133.69deg,#7c3265,#38002e);
    cursor: pointer;
    box-shadow: 0px 0px 1px 0.2px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s, transform 0.2s; 
 }
 .menu-icon:hover{
    background-color: #45a049;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
    transition: box-shadow 0.2s;
}
.viewButton{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
}
footer{
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}
.footer-wave .st0 .st1{
    width:auto;
    overflow: hidden;
    background: linear-gradient(to bottom,#7e184e,#520c30 100%);
}
.footer-tag{
    width: 100%;
    height: 50px;
    font-weight: lighter;
    font-style: italic;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -2px;
    padding: 10px 0px 10px;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(to bottom,#7e184e,#520c30 100%);
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
}